/* Tambahkan kode CSS kalian di file ini */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header{
    display: inline;
    font-family: 'Poppins';
    font-weight: 10;
    font-size: 14px;
    line-height: 25px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    color: #5f5f5f;
}

.menu-navbar{
    display: flex;
}

.menu-navbar:hover{
    color: #30a834;
    cursor: pointer;
}

.menu-navbar a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.70);;
}

.menu-navbar a:hover{
    color: #30a834;
}

#btn-navbar{
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

button{
    cursor: pointer;
}

#login{
    width: 90px;
    height: 32px;
    border: 1px solid #30a834;
    background-color: #fff;
    border-radius: 8px;
    padding: 4px 15px;
    color: #30a834;
}

#login:hover{
    background-color: #ebf8eb;
}

#register{
    width: 89px;
    height: 32px;
    border: 1px solid #30a834;
    background-color: #30a834;
    border-radius: 10px;
    padding: 4px 15px;
    color: #FFFFFF;
}

#register:hover{
    background-color: #0f740f;
}

body{
    font-family: 'Poppins';
}

#content{
    display: flex;
    margin-top: 150px;
    margin-left: 49px;
    margin-right: 49px;
}

#content h1{
    color: #30a834;
    font-weight: 400;
    margin-top: 20px;
    line-height: 20px;
    margin-bottom: 25px;
    font-size: 40px;
}

#content p{
    font-family: 'Poppins';
    font-weight: 60;
    font-size: 15px;
    line-height: 150%;
    color: #1b3620;
    margin-bottom: 45px;
    color: #b2b4b2;
}

#pic1 {
    width: 702px;
    height: 400px;
    left: 689px;
    top: 50px;

}

#logo{
    width: 100%;
}

img {
    border-radius: 5px 5px 0 0;
    width: 10%;
  }

.card {
    width: 100%;
    border-radius: 5px;
}

#fitur{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.card h2{ font-weight: 600;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    color: #30a834;
    padding-top: 20px;
}

.card{
    border-radius: 20px;
    background-color: #81f46b;
}

